* {
    font-family: 'Roboto', 'sans-serif';
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    padding: 1rem;
    list-style: none;
    background-color: #fff;
    height: 100vmax;
}

.pokemons{
    padding: 0;
    list-style: none;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pokemon {
    margin: .5rem;
    padding: 1rem 1rem;
    background-color: #14a06F;
    color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.pokemon .number {
    text-align: right;
    opacity: .7;
    font-size: .825rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-right: 22px;
}

.pokemon .detail .types .type {
    background-color: #EF798A;
    color: #fff;
    padding: .25rem .3rem;
    text-align: center;
    font-size: .625rem;
    font-weight: 900;
    margin: .25rem 0;
    border-radius: 1rem;
}

.pokemon .detail img {
    border-style: none;
    max-width: 100%;
    height: 95px;
    margin-top: -25px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    border-radius: .5rem;
    border: none;
    background-color: bisque;
    width: 20%;
    height: 2rem;
    cursor: pointer;
    color: #7A5C61;
}

.pagination button:hover {
    background-color: burlywood;
    transition: .2s;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        margin: 70px auto;
    }

    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }  
}

@media screen and (max-width: 375px) {
    .pokemons {
        grid-template-columns: 1fr;
    }

    .pagination button {
        font-size: .7rem;
    }
  
}

@media screen and (min-width: 390px) and (max-width: 570px) {
    .pokemon .detail img {
        height: 80px;
    }

    .pagination button {
        font-size: .7rem;
        font-weight: 600;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

